upstream phpfcgi {
   server unix:/run/php5-fpm.sock; #for PHP-FPM running on UNIX socket
}

server {
    listen 80;

    server_name APPLICATION_SERVER_NAME;
    root /var/www/APPLICATION_ROOT;

    error_log /var/log/nginx/APPLICATION_ERROR_LOG.error.log;
    access_log /var/log/nginx/APPLICATION_ACCESS_LOG.access.log;

    location @emptygif404 { empty_gif; }

    location / {
        rewrite ^(.*)$ /index.php break;

    fastcgi_index index.php;
        fastcgi_pass phpfcgi;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
